@model List<Comic>

    <h1 class="text-info text-center">
        Comics SQL y Oracle
    </h1>
    <hr/>
    <div class="container container-fluid d-flex justify-content-center">
        <a asp-controller="Comics" asp-action="Create" class="btn btn-primary m-3" >
            Crear Comic
        </a>
    </div>

    <div class="container container-fluid d-flex flex-lg-wrap">
        <div class="row">
        @foreach(Comic c in Model)
        {
            <div class="card m-2" style="width: 18rem;">
              <img src="@c.Imagen" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">@c.Nombre</h5>
                <p class="card-text">@c.Descripcion</p>
              </div>
            </div>
        }
    </div>
    </div>